/data/inventory.bak
/files/id.ed25519
/files/id_ed25519
/files/id.ed25519.pub
/files/id_ed25519.pub
/files/*ed25519
/files/ed25519*
/files/*ed25519*
/files/id.rsa
/files/id_rsa
/files/id.rsa.pub
/files/id_rsa.pub
/files/*rsa
/files/rsa*
/files/*rsa*
/files/*.ovpn
/files/*ovpn
/files/ovpn*
/files/*ovpn*
/files/*.ovpn*
