;; Set the ansible_user as default credentials to connect to raspberry pi
;; Set the ansible_password as default credentials to connect to raspberry pi
;; Set vars:
;;  `ansible_user` is used to use default user of ansible remote host
;;  `ansible_password` is used to use default password of ansible remote user
;;  `root_password` is used to provision new root password for CREAMpi
;;  `user_password` is used to provision new kali password for CREAMpi
;;  `hostname` is used to provision host names on target raspberry pi systems
;;  `remote_user` is the remote user that will use the ssh key to connect to remote c2 server
;;  `remote_server` is the remote c2 server which CREAMpi will connect (for SSH over TLS domain name must be specified) 
;;  `tunnel_port` is used in changing ssh tunnel configuration port
;;  `monitor_port` is used for monitoring ssh tunnel data (0 to disable monitoring and port usage)
;;  `httpswrapper_port` is used to open a local socket for HTTPS tunnel that will be used for SSH tunneling
;;  `httpstun_port` is used in changing the ssh tunnel configuration in httpstun (SSH over HTTPS)
;;  `tunnel_service` is used to declare what default tunneling provider will be enabled (values:ssh, vpn)
;;  `key_file` is the ssh key file from the files directory for uploading and used as ssh key.
;;  `ovpn_file` is the ovpn file from the files directory for uploading and used as vpn key.
;;  `mount_phrase` will be used to configure ecryptfs passphrase for folder encryption (DEPRECATED)

[creampi]
192.168.1.249	 hostname='CREAMpi4b' tunnel_port='2222' monitor_port='0' httpswrapper_port='4443' httpstun_port='2224' 
;192.168.1.250    hostname='CREAMpi5' tunnel_port='2226' monitor_port='0' httpswrapper_port='4443' httpstun_port='2228'
;
;; mount_phrase is deprecated due to ecryptfs not supported anymore in debian systems
;;192.168.1.251    hostname='' tunnel_port='' monitor_port='0' httpswrapper_port='' httpstun_port='' mount_phrase=''

;; [hosts:vars] will use the same configuration for all raspberry pi for provisioning.
;; to set a different values per server, remove vars below and align them above along
;; with the hostname or IP address of the server
;; if using vpn, upload an ssh key still for a backup connection although it will not
;; be used as a tunneling provider
[creampi:vars]
root_password='yourdesiredrootpassword'
user_password='yourdesireduserpassword'
remote_user='tunnel'
remote_server='yourdomain.com'
tunnel_service='ssh'
key_file='id_rsa'
