[Unit]
Description=Knockd interface checker service
After=network.target

[Service]
Restart=always
AccuracySec=1s
RestartSec=10
OnUnitInactiveSec=10
User=root
ExecStart=/opt/scripts/startup/knock.sh start
ExecReload=/opt/scripts/startup/knock.sh restart
ExecStop=/opt/scripts/startup/knock.sh stop

[Install]
WantedBy=default.target