[Unit]
Description=OpenVPN tunnel cleanup service 
After=network.target

[Service]
Restart=always
AccuracySec=1s
RestartSec=14400
OnUnitInactiveSec=14400
User=root
ExecStart=/opt/scripts/startup/cleanup.sh start
ExecReload=/opt/scripts/startup/cleanup.sh restart
ExecStop=/opt/scripts/startup/cleanup.sh stop

[Install]
WantedBy=default.target