[Unit]
Description=SSH tunnel cleanup service 
After=network.target

[Service]
Restart=always
RestartSec=259200
ExecStart=/opt/scripts/startup/cleanup.sh start
RemainAfterExit=yes

[Install]
WantedBy=default.target
