[Unit]
Description=Ecrypt persistence service

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/scripts/startup/ecrypt.sh
ExecReload=/bin/bash /opt/scripts/startup/ecrypt.sh
ExecStop=/bin/bash /opt/scripts/startup/ecrypt-umount.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target