;; Set the ansible_user as default credentials to connect to raspberry pi
;; Set the ansible_password as default credentials to connect to raspberry pi
;; Set vars:
;;  `ansible_user` is used to use default user of ansible remote host
;;  `ansible_password` is used to use default password of ansible remote user
;;  `root_password` is used to provision new root password for CREAMpi
;;  `user_password` is used to provision new kali password for CREAMpi
;;  `hostname` is used to provision host names on target raspberry pi systems
;;  `remote_user` is the remote user that will use the ssh key to connect to remote c2 server
;;  `remote_server` the remote c2 server which CREAMpi will connect
;;  `tunnel_port` is used in changing ssh tunnel configuration port
;;  `monitor_port` is used for monitoring ssh tunnel data (0 to disable monitoring and port usage)
;;  `tunnel_service` is used to declare what default tunneling service will be enabled (values:ssh, vpn)
;;  `key_file` is the ssh key file from the files directory for uploading and used as ssh key.
;;  `ovpn_file` is the ovpn file from the files directory for uploading and used as vpn key.
;;  `mount_phrase` will be used to configure ecryptfs passphrase for folder encryption
[creampi]
192.168.30.254    hostname='CREAMpi-zero' tunnel_port='20000' monitor_port='0' mount_phrase='ecryptPassword' ovpn_file=''
;192.168.30.185    hostname='CREAMpi4-one' tunnel_port='20001' monitor_port='0' mount_phrase='' ovpn_file=''

;; [hosts:vars] will use the same configuration for all raspberry pi for provisioning.
;; to set a different values per server, remove vars below and align them above along
;; with the hostname or IP address of the server
[creampi:vars]
root_password='yourrootpassword'
user_password='youruserpassword'
remote_user='root'
remote_server='publicIP_or_domainName'
tunnel_service='ssh'
key_file='id_rsa'
